<%- include('partials/head') %>

<%- include('partials/nav') %>
<div class="container">
    <div class="row mt-4">
        <div class="col">
            <a href="/" class="mt-4">&lt; Retour</a>
            <h1><%=data.title%></h1>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        Ajouter une image
                    </h5>
                    <form method="post" action="/album/<%=data._id%>" class="form-inline" enctype="multipart/form-data">
                        <input type="file" name="image" class="form-control-file">
                        <button type="submit"class="btn btn-primary mt-3">Ajouter</button>
                    </form>
                </div>
                <% if (error.length) { %>
                    <div class="alert alert-danger mt-4 mb-2" role="alert"><%=error[0]%></div>
                <% } %>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <% data.images.forEach(image => { %>
             <div class="col">
                <div class="card">
                    <img src="/uploads/<%=data._id%>/<%=image%>" class="card-img-top img-fluid" loading="lazy">
                    <div class="card-body">
                        <h5><%=image%></h5>
                        <a href="/editCollection/<%=data._id%>/<%=image%>">Supprimer</a>
                    </div>
                </div>
             </div>
        <% }) %>
    </div>
</div>
<%- include('partials/script') %>